Makefile
/build
/.idea
*.o
CMakeFiles
CMakeCache
/viewer/.gradle
/viewer/gradlew*
/viewer/gradle
/viewer/local.properties
*.iml
/viewer/app/build
/viewer/app/.externalNativeBuild
__pycache__
perf.data
/viewer/app/assets
/viewer/app/build
/application/platforms/android/build
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
/application/platforms/android/renderdoc
/viewer/settings.gradle
/viewer/build.gradle
/viewer/android
