Makefile
/build
/.idea
*.o
CMakeFiles
CMakeCache
/.gradle
/gradlew*
/gradle
/local.properties
*.iml
/app/build
/app/.externalNativeBuild
__pycache__
perf.data
/app/assets
/app/build
/application/platforms/android/build
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
